body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url("grandcanyon.jpg");
  background-size: cover;
}

button {
  margin: 5px;
  background-color: #6495ED;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #FFE4C4;
}

button:hover {background-color: #E9967A}

button:active {
  background-color: #40E0D0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);}

form{
  margin-top:10px;
  padding-top: 20px;
}
